/*I might use this as my "styling" sheet just to get the text colors n everything done before I deal with layout???*/

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BASIC STYLES*/
body{
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #000;
}

li {
  list-style: none;
}

/*links*/
a {
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: underline;
}

a:visited {
  color: black;
}

/*screen-reader label*/
.sr-only{
  position: absolute;
  left: -10000px;
}
/*Searchbar styles*/
.search {
  
}


/*button styles*/
.button {
  font-family: Arial, sans-serif;
  padding: 8px 16px;
  background-color: #ececec65;
  border-radius: 4px;
  border: 0px;
}

.button:hover, .button:active{
  border: 1px #d4d4d4 solid;
   /*box-shadow rule here*/
}

/*footer*/
.left-footer a, .right-footer a {
  color: #7e7e7e;
}