/*I might use this as my "styling" sheet just to get the text colors n everything done before I deal with layout???*/


/*BASIC STYLES*/
body{
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #000;
}

li {
  list-style: none;
}

/*links*/
a {
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: underline;
}

a:visited {
  color: black;
}

.googleimg{
  width: 300px;
  padding: 20px;
}

/*screen-reader label*/
.sr-only{
  position: absolute;
  left: -10000px;
}
/*Searchbar styles*/
.search {
  width: 575px;
  border-radius: 22px;
  padding: 13px;
  border: 1px solid rgb(216, 216, 216);
  margin-bottom: 10px;
}

.search:hover, .search:active{
  box-shadow: 1px 3px 15px 1px rgba(141, 141, 141, 0.356); 
  border: 1px solid rgb(216, 216, 216);
}

/*button styles*/
.button {
  font-family: Arial, sans-serif;
  padding: 10px 16px;
  background-color: #ececec65;
  border-radius: 4px;
  border: 0px;
  font-size: 14px;
  color: rgba(49, 49, 49, 0.918);
}

.button:hover, .button:active{ 
  box-shadow: 1px 2px 10px 1px rgba(141, 141, 141, 0.356); 
  border: 1px solid rgb(216, 216, 216);
}

/*footer*/
.footer {
  background-color:rgba(196, 196, 196, 0.226);
}

.footer a{
  color:rgba(77, 77, 77, 0.801);
}

.material-icons.md-dark { 
  color: rgba(0, 0, 0, 0.54);
 }