:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*using colors on BG to help me visualize the formatting*/
li {
  display: inline-block;
}
.container-flex{
  background-color: rgb(223, 223, 223);
  display: flex;
  justify-content: center;
}

.left {
  background-color: rgb(105, 159, 177);

}

.right {
  background-color: rgb(105, 159, 177);
}

/*navbar*/

.nav {
  display: flex;
}

.left li, .right li {
  margin: 10px;
}
/*main display*/
.google {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.googleimg{
  width: 400px;
}

.buttons{
  padding: 15px;
  display: flex; 
  justify-content: center;
}

.button {
  margin-left: 10px;
}