* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

/*using colors on BG to help me visualize the formatting*/
li {
  display: inline-block;
}

.right {
  background-color: rgb(105, 159, 177);
  width: 400px;
}
/* how to add more space top and bottom of the page height-wise?*/
/*also should be able to reuse most of navbar code for footer - edit for that.*/
/*navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.navbar a{
  padding: 10px;
}

/*main display*/
.google {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.googleimg{
  width: 275px;
}

.buttons{
  padding: 15px;
  display: flex; 
  justify-content: center;
}

.button {
  margin-left: 10px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
 
}

.footer a{
  padding: 10px;
}

.container {
  display: flex;
  flex-flow: column; /*flex flow vs flex direction?*/
  height: 100%;
}
.container .header{
  flex: 0 1 auto;
}
.container .content {
  flex: 1 1 auto;
}