* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

/*using colors on BG to help me visualize the formatting*/
li {
  display: inline-block;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.navbar a{
  padding: 5px;
}

/*main display*/
.google {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 10px;
  
}


.buttons{
  padding: 15px;
  display: flex; 
  justify-content: center;
}

.button {
  margin-left: 14px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
 
}

.footer a{
  padding: 10px;
}

.container {
  display: flex;
  flex-flow: column; /*flex flow vs flex direction?*/
  height: 100%;
}
.container .header{
  flex: 0 1 auto;
}
.container .content {
  flex: 1 1 auto;
  
}

.padding{
  padding-left: 8px;
}
